.branding {
	font-size: 1.5em;
	font-weight: 500;
}
.animated-text {
	font-size: var(--material-h2-font-size);
	font-weight: 400;
	font-family: var(--material-font-family)
}
.animated-area {
	text-align: center;
	margin: auto;
}
.content {
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 10px);
}
.footer {
  border-top: 1px dashed;
  text-align: center;
  padding: 10px;
  font-family: var(--material-font-family)
}
.effect-layout {
	display: flex;
	flex-direction: row;
    margin: 30px auto 50px 20px;
    justify-content: space-between;
    align-items: flex-end;
    width: 1000px;    
}
.vertical-layout {
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px 20px;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;    
}
